/*----------------------------------------------------------------*/
/*  Print
/*----------------------------------------------------------------*/
@media all {

  /* Never show page breaks in normal view */
  .page-break-after,
  .page-break-before {
    display: none;
  }
}

@media print {
  @page {size: A4 landscape; }
  /* html and body tweaks */
  html,
  body {
    height: auto !important;
    overflow: initial !important;
    background: none;
  }

  /* Page breaks */
  .page-break-after {
    display: block;
    page-break-after: always;
    position: relative;
  }

  .page-break-before {
    display: block;
    page-break-before: always;
    position: relative;
  }

  /* General styles */
  .page-title,
  .page-date,
  #fuse-toolbar,
  #fuse-footer,
  #fuse-navbar,
  #fuse-settings-presets,
  #fuse-layout .ps>.ps__rail-x,
  #fuse-layout .ps>.ps__rail-y,
  .hideInPrint,
  .sticky {
    display: none !important;
  }

  #fuse-layout .ps {
    overflow: visible !important;
  }

  body {
    height: var(--print-table-height) !important;
    overflow: hidden;
  }

  .no-print {
    display: none !important;
  }

}

@page {
  size: auto;
  /* auto is the initial value */
  margin: 0;
  /* this affects the margin in the printer settings */
}